/**************************
		FONTS
**************************/
$body-font-stack: 'Lato', 'Helvetica', 'Arial', sans-serif;
$header-font-stack: 'Merriweather', serif;

/**************************
		FONT WEIGHTS
**************************/
$header-font-weight: 700;
$body-font-weight: 300;

/**************************
		FONT SIZES
**************************/
$body-font-size: 16px;

/**************************
		COLOURS
**************************/
$background-default: #f6f6f6;
$header-colour-default: #000042;
$body-colour-default: #1d1d1d;