<div class="container d-flex flex-column justify-content-centre align-items-centre">
  <h1 class="text-center">This is a really cool scoping tool</h1>
  <p class="text-center">This is a digital planning poker app. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</p>
  {{#link-to "new" class="text-center"}}Click here to start scoping!{{/link-to}}
</div>

{{outlet}}