<div class="left-float-container">
<h1><strong>{{model.response_count}}</strong> responses</h1>

<strong>Average score: {{model.average_response}}</strong>

<br><br>

{{#each model.responses as |response|}}
	<div>
		{{response.name}}: {{response.value}}
	</div>
{{/each}}
</div>