<div class="container d-flex flex-column justify-content-centre align-items-centre">
  <h1 class="text-center">Scoping: {{model.title}}</h1>
  <p class="text-center">{{model.message}}</p>
</div>

{{outlet}}