<div class="container d-flex flex-column justify-content-centre align-items-centre">
  <h1 class="text-center">{{model.count}} Responses</h1>
  <p class="text-center">Currently scoping: {{state.scopeTopic}}</p>
</div>

{{outlet}}
